body {font-family: 'Montserrat', sans-serif;}

 /*-------HEAD-------*/

.g-bg-black-opacity-0_6 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 50%) !important;
    border: none;
}

.landing-block-menu {
 background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 50%)  !important;
 border: none;
}

.navbar a {
    font-family: 'Montserrat', sans-serif; 
    font-weight:normal; 
    color:#ffffff; 
    font-size:1em;}

.u-header__section--light .navbar a {
    font-family: 'Montserrat', sans-serif; 
    font-weight:normal; 
    color:#ffffff; 
    font-size:1em;
    margin: 1px;
}

.u-header__section--light .navbar a:hover {
font-weight:normal !important; 
color:#ffffff !important; 
border-radius: 500px;
background: transparent;
border: 1px solid #867347;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
margin: 0px; 
}

a.landing-block-node-menu-logo-link.navbar-brand.u-header__logo {
    margin: 1px;
    margin-bottom: -20px;
}

a.landing-block-node-menu-logo-link.navbar-brand.u-header__logo:hover {
    border: none;
    margin: 1px;
    margin-bottom: -20px;
}

 /*-------COVER-------*/

.info-v3-4 {
    position: relative;
    bottom:-28vw;
    height: 40vw;
    left: 50%;
    width: 70vw;
    margin-left: -35vw;
    border-radius: 100px 100px 0px 0px / 100px 100px 0px 0px;
border: 1px solid #867347;
padding: 2vw !important;
}

.info-v3-4::before {
    display: none;
}

.logo20m {
    position: absolute;
    top: 20%;
    width: 20vw;
}

.u-shadow-v27 {
    box-shadow: none;
}

.u-btn-outline-white {
background: #245b65;
border: 1px solid #867347;
box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.g-bg-teal-opacity-0_9 {
    background-color: rgba(235, 239, 240, 1) !important;
    border-top: 10px solid #245b65;
    box-shadow: 0px -10px 0px rgba(235, 239, 240, 1);
    margin-top:10px;
}

 /*-------ABOUT-------*/

#block24 {
    margin-top: 10px;
}

#block24 section div {
margin-right: 0;
    max-width: 1200px;
    padding-right:0;
}

#block24 section div div div:nth-child(2){
   text-align: right;
    }

#block24 section div div div p{
    text-align: left !important;
}
#block24 section div div div p:last-child::after{
    content: "\25CF";
    color:#867347;
    vertical-align: sub;

}

.g-color-bluegray {
    color: #245B65 !important;
}
.g-font-weight-700 {
    font-weight: 800 !important;
}

 /*-------BOTTOM-------*/

#block42 section.g-bg-gray-dark-v1 {
background: linear-gradient(#867347 0%, #433a24 100%);
margin-top: 10px;
padding: 0 !important;
}

#block42 h2 {
    display: none;
}

#block42 div.col-md-6 {
    max-width: 20vw !important;
    background: url("https://master-shushu.github.io/logo-bot.svg");
    background-size: 100px auto;
    background-position: 25px 10px;
    background-repeat: no-repeat;
}

@media (min-width: 992px) {
    #block42 div.container {
        min-width: 90vw;
    }
}
#block42 i.landing-block-node-card-contact-icon {
    display: none;
    color: white;
}

#block42 div.row div.col-md-2:nth-child(2) {
    max-width: 10vw;
}

#block42 div.row div.col-md-2:nth-child(3) {
    max-width: 35vw;
    min-width: 35vw;
}

#block42 div.row div.col-md-2:nth-child(4) {
    max-width: 20vw;    
    min-width: 20vw;
}

#block42 ul {
    margin-bottom: 10px !important;
    margin-top:10px;
}

#block42 li {
    margin: 0 !important;
    line-height: 1;
}

#block42 li a {
    line-height: 1;
}
#block42 div.row div.col-md-2:nth-child(3) li:nth-child(2) {
    line-height: 2;
}

#block42 div.row div.col-md-2:nth-child(3) li:nth-child(1) a::before {
content: "\f082";
font-family: 'FontAwesome';
font-size: 1rem;
margin-right: 10px;
;}

#block42 div.row div.col-md-2:nth-child(3) li:nth-child(2) a::before {
    content: "\f16d";
    font-family: 'FontAwesome';
    font-size: 1rem;
    margin-right: 10px;
    ;}

#block58 {
    height: 0;
    z-index: 5;
}
 /*-------PARTNERS-------*/

#block40 div.g-bg-teal {
    background-color: #31656E !important;
    background: url("https://master-shushu.github.io/ellipse-bg.svg") no-repeat;
    background-position: -10vw center;
    background-size: 45vw;
    padding-left: 27vw;
}

#block40 div.landing-block-node-card {
    background-color: white;
border-radius: 1000px;
width: 20vw;
height: 20vw;
min-width: 20vw;
max-height: 20vw;
margin: 1vw !important;
padding: 2vw;
}

#block40 .g-bg-black-opacity-0_5 {
    background-color: rgba(0,0,0,0.5)!important;
    border-radius: 500px;
    top: 0%;
}

#block40 .g-bg-black-opacity-0_5 h3 {
    margin-top: 15px;
}

 /*-------PARTNERS LEFT COL-------*/

#block54 {
    height: 0;
    width: 25vw;
    z-index: 5;
    padding-left: 3vw;
}

#block54 h2 {
    margin-top: 20vw;
}

#block54 h2::after {
    content: "\25CF";
    color:#867347;
    vertical-align: sub;
    font-size: 1.5rem;
}

#part-btn:hover {
    background-color: white !important;
    color:#31656E !important;
}

.g-font-size-28 {
    font-size: 3rem !important;
}

/*--------EVENTS--------*/

#block36 {
display: none;
}

#block80 div.js-carousel {
    background: transparent;
    margin-top: -10vw;
    padding-left: 0 !important;
    background: url("https://master-shushu.github.io/ev-m-bg.png") no-repeat;
    background-position: center top;
    background-size: calc(70vw - 2px) 10vw;
}

#block80 section {
    padding-bottom: 0 !important;
}

#block80 div.landing-block-node-card.js-slide.g-px-7.slick-slide.slick-active {
    min-width: 25vw;
}

#block80 div.landing-block-node-card.js-slide.g-px-7.slick-slide.slick-active p {
    color: #867347 !important;
}

#block80 div.landing-block-node-card.js-slide.g-px-7.slick-slide.slick-active div:hover {
    background: transparent !important;
}

#block80 div.slick-list.draggable {
    min-width: 100vw;
}

#block80 div.landing-block-node-card.js-slide.g-px-7.slick-slide.slick-active div.d-inline-block {
    border: 1px solid #867347; 
    color: #867347 !important;
    border-radius: 500px;   
}

#block80 div.landing-block-node-card.js-slide.g-px-7.slick-slide.slick-active div.d-inline-block:hover {
    background: #867347 !important;
    color: white !important;
    cursor: pointer;  
}

#block80 p {
    white-space: pre-line !important;
}

#block80 div.js-prev, #block80 div.js-next {
    border-radius: 500px;
    border: 1px solid #867347;
    background-color: white !important;
    color: #867347 !important; 
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.16);;
}

#block80 div.js-prev:hover, #block80 div.js-next:hover {
    background-color: #867347 !important;
    color: white !important;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.16);;
}

/*--------CATEGORIES--------*/

#block92 div.js-carousel {
    background: transparent;
    padding-left: 0 !important;
    padding-top: 10vw;
    padding-bottom: 5vw;
    background: url("https://master-shushu.github.io/cat-bg.jpg") no-repeat;
    background-position: center top;
    background-size: 100vw auto;
}

#block92 section {
    padding: 0 !important;
    text-align: center !important;
}

#block92 div.landing-block-node-card {
    background: white;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.32);
    margin-left: 10px !important;
    margin-right: 10px !important;
}

#block92 div.landing-block-node-card:nth-child(3) {
    background: #DFE0C9;
}


#block92 div.landing-block-node-card.js-slide.g-px-7.slick-slide.slick-active div.d-inline-block {
    border: 1px solid #245B65; 
    color: #245B65 !important;
    border-radius: 500px;   
}

#block92 div.landing-block-node-card.js-slide.g-px-7.slick-slide.slick-active div.d-inline-block:hover {
    background: #245B65 !important;
    color: white !important;
    cursor: pointer;  
}
#block92 div.js-prev, #block92 div.js-next {
    border-radius: 500px;
    border: 1px solid #867347;
    background-color: white !important;
    color: #867347 !important; 
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.16);;
}

#block92 div.js-prev:hover, #block92 div.js-next:hover {
    background-color: #867347 !important;
    color: white !important;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.16);;
}

#block92 div.landing-block-node-card-container {
    text-align: center;
}

#block92 div.landing-block-node-card-container img {
    text-align: center;
    padding-top: 150px;
    display: inline;
}

#block92 div.landing-block-node-card-text p {
    color: black;
}

#block92 h3 {
    font-family: Montserrat;
    font-weight: normal !important;
    font-size: 2rem !important;
    text-align: center !important;
    color: #245b65 !important;
    margin-top: -300px;
    margin-bottom: 280px !important;
    text-transform: capitalize;
}

#block98 {
    height: 0;
    z-index: 5;
    color: white !important;
    margin: 0;
    padding-top: 10px;
}

#block98 h2 {
    margin-top: 4vw;
    font-weight: 800 !important;
    font-style: italic;
    font-size: 3rem !important;
color: #fff;
}

#block98 h2::after {
    content: "\25CF";
    color:#867347;
    vertical-align: sub;
}