body {font-family: 'Montserrat', sans-serif;}

.g-bg-black-opacity-0_6 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 50%) !important;
    border: none;
}

.landing-block-menu {
 background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 50%)  !important;
 border: none;
}

.navbar a {
    font-family: 'Montserrat', sans-serif; 
    font-weight:normal; 
    color:#ffffff; 
    font-size:1em;}

.u-header__section--light .navbar a {
    font-family: 'Montserrat', sans-serif; 
    font-weight:normal; 
    color:#ffffff; 
    font-size:1em;
    margin: 1px;
}

.u-header__section--light .navbar a:hover {
font-weight:normal !important; 
color:#ffffff !important; 
border-radius: 500px;
background: transparent;
border: 1px solid #867347;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
margin: 0px;
}

a.landing-block-node-menu-logo-link.navbar-brand.u-header__logo {
    margin: 1px;
    margin-bottom: -20px;
}

a.landing-block-node-menu-logo-link.navbar-brand.u-header__logo:hover {
    border: none;
    margin: 1px;
    margin-bottom: -20px;
}

.info-v3-4 {
    position: relative;
    bottom:-28vw;
    height: 40vw;
    left: 50%;
    width: 70vw;
    margin-left: -35vw;
    border-radius: 100px 100px 0px 0px / 100px 100px 0px 0px;
border: 1px solid #867347;
padding: 2vw !important;
}

.info-v3-4::before {
    display: none;
}

.logo20m {
    position: absolute;
    top: 20%;
    width: 20vw;
}

.u-shadow-v27 {
    box-shadow: none;
}

.u-btn-outline-white {
background: #245b65;
border: 1px solid #867347;
box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.g-bg-teal-opacity-0_9 {
    background-color: rgba(235, 239, 240, 1) !important;
    border-top: 10px solid #245b65;
    box-shadow: 0px -10px 0px rgba(235, 239, 240, 1);
    margin-top:10px;
}

#block24 {
    margin-top: 10px;
}

#block24 section div {
margin-right: 0;
    max-width: 1200px;
    padding-right:0;
}

#block24 section div div div:nth-child(2){
   text-align: right;
    }

#block24 section div div div p{
    text-align: left !important;
}
#block24 section div div div p:last-child::after{
    content: "\25CF";
    color:#867347;
    vertical-align: sub;
    
}

.g-color-bluegray {
    color: #245B65 !important;
}
.g-font-weight-700 {
    font-weight: 800 !important;
}

#block42 section.g-bg-gray-dark-v1 {
background: linear-gradient(#867347 0%, #433a24 100%);
margin-top: 10px;
padding: 0 !important;
}

#block42 h2 {
    display: none;
}

#block42 i.landing-block-node-card-contact-icon {
    display: none;
    color: white;
}

#block58 {
    height: 0;
    z-index: 1000;
}

#block40 div.g-bg-teal {
    background-color: #31656E !important;
    background: url("https://master-shushu.github.io/ellipse-bg.svg") no-repeat;
    background-position: -10vw center;
    background-size: 45vw;
    padding-left: 25vw;
}

#block40 div.landing-block-node-card {
    background-color: white;
border-radius: 1000px;
width: 20vw;
height: 20vw;
min-width: 20vw;
max-height: 20vw;
margin: 1vw !important;
padding: 2vw;
}

#block54 {
    height: 0;
    width: 25vw;
    z-index: 1000;
}

.g-font-size-28 {
    font-size: 3rem !important;
}